//файл обнуляющих стилей
*{padding: 0;margin: 0;border: 0;}
*,*:before,*after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
/*input:: -ms-clear{display: none;}*/
button{cursor: pointer;}
/*button:: -moz-focus-inner {padding: 0; border:0;}*/
a, a:visited{text-decoration: none; }
ul li{list-style-type: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

body{
	background-color: #eee2e2
}
.hello{
	font-size: 	30px;
	display: flex;
	width: 	100%;
	justify-content: 	center;
	height: 10%;
	color: #ffffff;
	align-items: center;
	background-color: #442D25;
	font-weight: bold;
	letter-spacing: 2px;
}
.git__info{
	height: 400px;
	width: 100%;

	display: flex;

}
.git__info__logo{
	background-image: url(git_orange_logo.jpeg);
	background-repeat: no-repeat;

	background-size: 100% 100%;
	height: 300px;
	width: 400px;
	margin: 50px 0px 50px 200px;
}

.git__info__block{
	width: 600px;
	height: 280px;
	margin: 70px 0px 0px 50px;

}
.git__info__block__text{
	font-size: 23px;

}

.git__info__block__but{
	width: 120px;
	height: 40px;
	margin: 30px 0px;
	font-size: 15px;
	transition-duration: 1s;
}
.git__info__block__but:hover{
	background-color: #442D25;
	color: #ffffff;
	transition-duration: 0.5s;
}

h1{
	margin: 40px auto;
	display: flex;
	align-items: center;
	justify-content: left;
	background-color:  #b19576;
	font-size: 30px;
	height: 45px;
	font-weight: bold;
	color: #ffffff;

}
.brown__line{
	width: 10px;
	height: 100%;
	background-color: #4a342e;
	margin: 0px 10px 0px 0px;
	transition-duration: 3s;
}
h1:hover .brown__line{
	width: 84%;
	transition-duration: 3s;
}

.download{
	display: flex;
	flex-direction: column;
	flex
	margin: 20px 100px;
	height: 800px;
}

.download__foto{
	background-image: url(git_download.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 300px;
	width: 830px;
	margin: 30px auto;
}

.download__text{
	margin: 0 auto;
	font-size: 20px;
}